<!DOCTYPE html>
<html>
<head>
    <title>Coupole Astrospace</title>
    <meta http-equiv="refresh" content="5;setup?refresh=true" >
</head>
<body>
<h1 style="color: #5e9ca0;">Coupole Astrospace</h1>


<h2 style="color: #2e6c80;">&Eacute;tat</h2>
<ul>
    {% if connected %}
    <li>Connexion coupole : <strong style="color:green">OK</strong>, <a href="setup?connect=false">D&eacute;connecter</a></li>

    <ul>
        <li>Addresse {{ address }}
        </li>
        {% if calibrated %}
        <li>Azimut :
            {% if azimuth is not none %}
            {{'%.1f' % azimuth}}&deg;
            {% else %}
            N/A
            {% endif %}
        </li>
        <li>R&eacute;sidus :
            {% if err is not none %}
            {{'%.1f' % err}}&micro;T
            {% else %}
            N/A
            {% endif %}
        </li>
        <li>Cible :
            {% if target is not none %}
            {{'%.1f' % target}}&deg;
            {% else %}
            N/A
            {% endif %}
        </li>
        {% endif %}
        {% if command == 3 %}
        <li>Commande actuelle : Gauche <strong><a href="setup?stop">STOP !</a></strong></li>
        {% elif command == 4 %}
        <li>Commande actuelle : Droite <strong><a href="setup?stop">STOP !</a></strong></li>
        {% elif command == 1 %}
        <li>Commande actuelle : Ouverture <strong><a href="setup?stop">STOP !</a></strong></li>
        {% elif command == 2 %}
        <li>Commande actuelle : Fermeture <strong><a href="setup?stop">STOP !</a></strong></li>
        {% else %}
        <li>Commande actuelle : Aucune</li>
        {% endif %}
    </ul>

    {% else %}
    <li>Connexion coupole : <strong style="color:red">NOK</strong>, <a href="setup?connect=true">Connecter</a></li>
    {% endif %}

    {% if mount_connected %}
    <li>Connexion monture : <strong style="color:green">OK</strong> </li>
    <ul>
        <li>Angle horaire {{'%.1f' % ha}}&deg;</li>
        <li>Declinaison {{'%.1f' % de}}&deg;</li>
    </ul>
    {% else %}
    <li>Connexion monture : <strong style="color:red">NOK</strong> </li>
    {% endif %}

    {% if calibrated %}
    <li><a href="calib">Calibration</a> : <strong style="color:green">OK</strong></li>
    {% elif calibrating %}
    <li><a href="calib">Calibration</a> : <strong style="color:orange">En cours</strong></li>
    {% else %}
    <li><a href="calib">Calibration</a> : <strong style="color:red">NOK</strong></li>
    {% endif %}



</ul>
{% if connected and mount_connected %}
<h2 style="color: #2e6c80;">Tracking</h2>
    {% if tracking == 0 %}
    Suivi: <strong style="color:red">OFF</strong>
    <ul>
    <li><a href="setup?track_T400">Suivre le telescope</a></li>
    <li><a href="setup?track_APO">Suivre la lunette</a></li>
    <li><a href="setup?track_both">Suivre le telescope et la lunette</a></li>
    </ul>
    {% endif %}
    {% if tracking == 1 %}
    Suivi: <strong style="color:green">ON</strong> telescope
    <ul>
    <li><a href="setup?track_OFF">Arreter le suivi</a></li>
    <li><a href="setup?track_APO">Suivre la lunette</a></li>
    <li><a href="setup?track_both">Suivre le telescope et la lunette</a></li>
    </ul>
    {% endif %}
    {% if tracking == 2 %}
    Suivi: <strong style="color:green">ON</strong> lunette
    <ul>
    <li><a href="setup?track_OFF">Arreter le suivi</a></li>
    <li><a href="setup?track_T400">Suivre le telescope</a></li>
    <li><a href="setup?track_both">Suivre le telescope et la lunette</a></li>
    </ul>
    {% endif %}
    {% if tracking == 3 %}
    Suivi: <strong style="color:green">ON</strong> telescope et lunette
    <ul>
    <li><a href="setup?track_OFF">Arreter le suivi</a></li>
    <li><a href="setup?track_T400">Suivre le telescope</a></li>
    <li><a href="setup?track_APO">Suivre la lunette</a></li>
    </ul>
    {% endif %}
    Azimuth optimal : {{'%.1f' % tracking_target}}&deg; <br/>
    {% if tracking_tolerance > 0 %}
    Tolerance : {{'%.1f' % tracking_tolerance}}&deg; <br/>
    {% else %}
    Tolerance : <strong style="color:red">{{'%.1f' % tracking_tolerance}}&deg; </strong><br/>
    {% endif %}
{% endif %}

{% if connected %}
<h2 style="color: #2e6c80;">Commandes</h2>
Rotation:
<ul>
    <li><a href="setup?stop">STOP</a></li>
    <li><a href="setup?left">&larr; Gauche</a></li>
    <li><a href="setup?right">&rarr; Droite</a></li>
    {% if calibrated %}
    <li><a href="setup?park">Position de parking</a></li>
    <li><a href="setup?home">Position d&rsquo;utilisation du cimier</a></li>
    <li><form action="setup" method="get"><label for="azimuth">Tourner vers azimut</label> <input type="number" id="azimuth" name="azimuth" min="0" max="359" step="1" value="180" size="3">&deg; <button type="submit">GO</button></form></li>
    {% endif %}
</ul>
Cimier:
<ul>
    <li><a href="setup?up">&uarr; Ouverture</a></li>
    <li><a href="setup?down">&darr; Fermeture</a></li>
</ul>


{% endif %}


<h2 style="color: #2e6c80;">Historique</h2>
<p><img src="plot.png" alt="Pas de donn&eacute;es &agrave; afficher" /></p>
<a href="setup?reset=true">Remise &agrave; z&eacute;ro</a><br/>
<a href="log_measurements.csv">T&eacute;l&eacute;charger les donn&eacute;es</a><br/>
</body>
</html>
